src/main/resources/mypacs.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.org/PacsSecuritySvc"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/PacsSecuritySvc"
                  targetNamespace="http://ejb.service.webservice.jaas.security.rumba.med.ge.com">


    <!--types-->

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                    targetNamespace="http://ejb.service.webservice.jaas.security.rumba.med.ge.com">

            <!--Version -->

            <xsd:element name="getVersion">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getVersionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getVersionReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- UserInfo-->

            <xsd:element name="getUserInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getUserInfoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getUserReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- create User  -->

            <xsd:element name="createImsUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in0" type="xsd:string"/>
                        <xsd:element name="in1" type="xsd:string"/>
                        <xsd:element name="in2" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="createImsUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="createImsUserReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>




        </xsd:schema>
    </wsdl:types>


    <!--messages -->

    <wsdl:message name="getVersionResponse">
        <wsdl:part element="tns:getVersionResponse" name="getVersionResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersion">
        <wsdl:part element="tns:getVersion" name="getVersion">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getUserInfoResponse">
        <wsdl:part element="tns:getUserInfoResponse" name="getUserInfoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserInfo">
        <wsdl:part element="tns:getUserInfo" name="getUserInfo">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="createImsUserResponse">
        <wsdl:part element="tns:createImsUserResponse" name="createImsUserResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createImsUser">
        <wsdl:part element="tns:createImsUser" name="createImsUser">
        </wsdl:part>
    </wsdl:message>

    <!--port-->

    <wsdl:portType name="PacsSecuritySvcRemote">
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersion" name="getVersion"/>
            <wsdl:output message="tns:getVersionResponse" name="getVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <wsdl:input message="tns:getUserInfo" name="getUserInfo"/>
            <wsdl:output message="tns:getUserInfoResponse" name="getUserInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createImsUser">
            <wsdl:input message="tns:createImsUser" name="createImsUser"/>
            <wsdl:output message="tns:createImsUserResponse" name="createImsUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>


    <!--binding-->

    <wsdl:binding name="PacsSecuritySvcSoapBinding" type="tns:PacsSecuritySvcRemote">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getVersion">
            <soap:operation soapAction="getVersion"/>
            <wsdl:input name="getVersion">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ejb.service.webservice.jaas.security.rumba.med.ge.com" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="getVersionResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ejb.service.webservice.jaas.security.rumba.med.ge.com"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getUserInfo">
            <soap:operation soapAction="getUserInfo"/>
            <wsdl:input name="getUserInfo">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ejb.service.webservice.jaas.security.rumba.med.ge.com" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="getUserInfoResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ejb.service.webservice.jaas.security.rumba.med.ge.com"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="createImsUser">
            <soap:operation soapAction="createImsUser"/>
            <wsdl:input name="createImsUser">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ejb.service.webservice.jaas.security.rumba.med.ge.com" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="createImsUserResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ejb.service.webservice.jaas.security.rumba.med.ge.com"/>
            </wsdl:output>
        </wsdl:operation>


    </wsdl:binding>

    <!--service-->

    <wsdl:service name="PacsSecuritySvcRemoteService">
        <wsdl:port binding="tns:PacsSecuritySvcSoapBinding" name="PacsSecuritySvc">
            <soap:address location="http://3.28.73.104/axis/services/PacsSecuritySvc"/>
        </wsdl:port>
    </wsdl:service>


</wsdl:definitions>